In [12]:
# imports
import pandas as pd
from os import *

In [24]:
# dfs
dfs = {path[:-4] : pd.read_csv("../data/relevant/"+path, low_memory=False) for path in listdir("../data/relevant") if path.endswith(".csv")}

In [25]:
dfs

{'SPD_Crime_Data__2008-Present':         Report Number   Offense ID  Offense Start DateTime  \
 0         2020-044620  12605873663  02/05/2020 10:10:00 AM
 1         2020-044452  12605598696  02/03/2020 08:00:00 AM
 2         2020-044465  12605567653  02/02/2020 08:30:00 PM
 3         2020-044225  12605174036  02/05/2020 01:17:00 AM
 4         2020-044076  12605081469  02/05/2020 12:51:21 AM
 ...               ...          ...                     ...
 1033410   2013-227022   7682354808  06/26/2013 11:00:00 AM
 1033411   2012-045494   7672915592  02/14/2012 03:04:00 PM
 1033412   2011-061224  41519143023  02/20/2011 08:00:00 PM
 1033413   2010-328592   7692227482  09/19/2010 04:59:00 PM
 1033414   2010-064656   7686420892  02/25/2010 06:00:00 PM

            Offense End DateTime         Report DateTime Group A B  \
 0                           NaN  02/05/2020 11:24:31 AM         A
 1        02/04/2020 08:00:00 AM  02/05/2020 10:06:28 AM         A
 2        02/02/2020 09:30:00 PM  02/05/2020 09:39:33 AM         A
 3        02/05/2020 02:21:00 AM  02/05/2020 03:30:55 AM         A
 4                           NaN  02/05/2020 12:51:31 AM         B
 ...                         ...                     ...       ...
 1033410  06/29/2013 06:30:00 AM  06/29/2013 09:43:00 AM         A
 1033411                     NaN  02/14/2012 03:04:00 PM         A
 1033412  02/21/2011 01:55:00 PM  02/21/2011 01:55:00 PM         A
 1033413                     NaN  09/19/2010 04:59:00 PM         A
 1033414  02/26/2010 07:30:00 AM  02/26/2010 07:54:00 AM         A

         Crime Against Category                      Offense Parent Group  \
 0                      SOCIETY                    DRUG/NARCOTIC OFFENSES
 1                     PROPERTY                             LARCENY-THEFT
 2                     PROPERTY                                   ROBBERY
 3                     PROPERTY  DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY
 4                      SOCIETY               DRIVING UNDER THE INFLUENCE
 ...                        ...                                       ...
 1033410               PROPERTY                       MOTOR VEHICLE THEFT
 1033411               PROPERTY                             LARCENY-THEFT
 1033412               PROPERTY                BURGLARY/BREAKING&ENTERING
 1033413               PROPERTY                             LARCENY-THEFT
 1033414               PROPERTY                       MOTOR VEHICLE THEFT

                                              Offense Offense Code Precinct  \
 0                           Drug/Narcotic Violations          35A        W
 1        Theft of Motor Vehicle Parts or Accessories          23G        N
 2                                            Robbery          120        N
 3           Destruction/Damage/Vandalism of Property          290        W
 4                        Driving Under the Influence          90D        N
 ...                                              ...          ...      ...
 1033410                          Motor Vehicle Theft          240        W
 1033411                                  Shoplifting          23C        N
 1033412                 Burglary/Breaking & Entering          220        S
 1033413                                  Shoplifting          23C        W
 1033414                          Motor Vehicle Theft          240        W

         Sector Beat                 MCPP                 100 Block Address  \
 0            Q   Q1             MAGNOLIA          32XX BLOCK OF 23RD AVE W
 1            J   J3    ROOSEVELT/RAVENNA          63XX BLOCK OF 5TH AVE NE
 2            U   U3    ROOSEVELT/RAVENNA      26TH AVE NE / NE BLAKELEY ST
 3            Q   Q1             MAGNOLIA           22XX BLOCK OF W RAYE ST
 4            B   B2        BALLARD SOUTH           NW 46TH ST / 8TH AVE NW
 ...        ...  ...                  ...                               ...
 1033410      Q   Q3           QUEEN ANNE             1ST AVE N / VALLEY ST
 1033411      U   U1    ROOSEVELT/RAVENNA    73XX BLOCK OF ROOSEVELT WAY NE
 1033412      S   S3         RAINIER VIEW  100XX BLOCK OF M L KING JR WAY S
 1033413      M   M3  DOWNTOWN COMMERCIAL              5XX BLOCK OF PIKE ST
 1033414      Q   Q2           QUEEN ANNE           26XX BLOCK OF 1ST AVE N

           Longitude   Latitude
 0       -122.385974  47.649387
 1       -122.323399  47.675118
 2       -122.299552  47.666384
 3       -122.384865  47.642927
 4       -122.366195  47.662193
 ...             ...        ...
 1033410 -122.355386  47.626251
 1033411 -122.317464  47.681894
 1033412 -122.278352  47.510453
 1033413 -122.335018  47.610909
 1033414 -122.355546  47.643681

 [1033415 rows x 17 columns],
 'sales_data_2017_2018':                                   receipt_id                    date  \
 0       c5341571-9ead-49bf-ae6d-3a7ddfbd0e31    7/19/2018 8:40:13 AM
 1       f6d66747-85e2-4b43-99c3-3fc324ea02f7    6/15/2018 4:01:07 PM
 2       5757fe87-17b3-44ff-ae49-7548cd156998    9/18/2018 9:01:37 AM
 3       ccfec4ae-e68f-4f7f-a15d-486b98acbd09   8/14/2018 12:36:46 PM
 4       9a45dc36-f771-42a7-a343-fac1a8e58bb7    6/19/2018 5:03:58 PM
 ...                                      ...                     ...
 372752  b390d52e-e396-40f4-838b-ce7a668216f8   12/6/2017 12:36:35 PM
 372753  8da840d9-aca1-42cc-b299-010e46adff1c    12/1/2017 2:17:07 PM
 372754  3a58145b-7e7c-42a9-9f32-fb64961e43e1   12/12/2017 6:50:55 PM
 372755  020fd6c4-d155-47cd-a904-2c9e78fa9f4a  12/19/2017 12:35:53 PM
 372756  c3028a2d-b1d7-4155-ab7e-b95a0b4706fc  12/12/2017 10:59:36 AM

         item_code         item_name  main_category  sub_category  quantity  \
 0            2025  Kiwi fruit Green  Fresh Produce  Other Fruits     0.546
 1            2025  Kiwi fruit Green  Fresh Produce  Other Fruits     0.546
 2            2025  Kiwi fruit Green  Fresh Produce  Other Fruits     0.548
 3            2025  Kiwi fruit Green  Fresh Produce  Other Fruits     0.548
 4            2025  Kiwi fruit Green  Fresh Produce  Other Fruits     0.550
 ...           ...               ...            ...           ...       ...
 372752       1039            Ginger  Fresh Produce  Other Vegies     0.112
 372753       1039            Ginger  Fresh Produce  Other Vegies     0.114
 372754       1039            Ginger  Fresh Produce  Other Vegies     0.116
 372755       1039            Ginger  Fresh Produce  Other Vegies     0.116
 372756       1039            Ginger  Fresh Produce  Other Vegies     0.118

        payment_type  unit_buying_price  unit_selling_price  unit_price_margin  \
 0              cash                0.0                 5.5                5.5
 1              cash                0.0                 5.5                5.5
 2              cash                0.0                 5.5                5.5
 3              cash                0.0                 5.5                5.5
 4              cash                0.0                 5.5                5.5
 ...             ...                ...                 ...                ...
 372752         cash                0.0                10.0               10.0
 372753         cash                0.0                10.0               10.0
 372754         cash                0.0                10.0               10.0
 372755         cash                0.0                10.0               10.0
 372756         cash                0.0                10.0               10.0

         total_buying_price  total_selling_price  total_profit
 0                      0.0                3.003         3.003
 1                      0.0                3.003         3.003
 2                      0.0                3.014         3.014
 3                      0.0                3.014         3.014
 4                      0.0                3.025         3.025
 ...                    ...                  ...           ...
 372752                 0.0                1.120         1.120
 372753                 0.0                1.140         1.140
 372754                 0.0                1.160         1.160
 372755                 0.0                1.160         1.160
 372756                 0.0                1.180         1.180

 [372757 rows x 14 columns],
 'COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_Facility':        hospital_pk collection_week state     ccn  \
 0           052052      2020/05/29    CA  052052
 1           070038      2020/04/24    CT  070038
 2           100034      2020/05/01    FL  100034
 3           100069      2020/05/15    FL  100069
 4           100070      2020/04/24    FL  100070
 ...            ...             ...   ...     ...
 742248      330058      2022/12/30    NY  330058
 742249      360051      2022/04/15    OH  360051
 742250      453314      2021/12/24    TX  453314
 742251      280065      2021/01/08    NE  280065
 742252      420030      2022/06/10    SC  420030

                                      hospital_name                    address  \
 0                       KINDRED HOSPITAL RIVERSIDE  2224 MEDICAL CENTER DRIVE
 1                      CONNECTICUT HOSPICE INC,THE      100 DOUBLE BEACH ROAD
 2       MOUNT SINAI MEDICAL CENTER OF FLORIDA, INC              4300 ALTON RD
 3                         ADVENTHEALTH CARROLLWOOD      7171 N DALE MABRY HWY
 4                         SHOREPOINT HEALTH VENICE             540 THE RIALTO
 ...                                            ...                        ...
 742248                     GENEVA GENERAL HOSPITAL      196 -198 NORTH STREET
 742249                       MIAMI VALLEY HOSPITAL         ONE WYOMING STREET
 742250   TEXAS SCOTTISH RITE HOSPITAL FOR CHILDREN        2222 WELBORN STREET
 742251                         GREAT PLAINS HEALTH          601 WEST LEOTA ST
 742252                     COLLETON MEDICAL CENTER    501 ROBERTSON BOULEVARD

                 city      zip     hospital_subtype  fips_code  ...  \
 0             PERRIS  92571.0            Long Term     6065.0  ...
 1           BRANFORD   6405.0           Short Term     9009.0  ...
 2        MIAMI BEACH  33140.0           Short Term    12086.0  ...
 3              TAMPA  33614.0           Short Term    12057.0  ...
 4             VENICE  34285.0           Short Term    12115.0  ...
 ...              ...      ...                  ...        ...  ...
 742248        GENEVA  14456.0           Short Term    36069.0  ...
 742249        DAYTON  45409.0           Short Term    39113.0  ...
 742250        DALLAS  75219.0  Childrens Hospitals    48113.0  ...
 742251  NORTH PLATTE  69101.0           Short Term    31111.0  ...
 742252    WALTERBORO  29488.0           Short Term    45029.0  ...

         previous_day_admission_pediatric_covid_confirmed_unknown_7_day_sum  \
 0                                                     NaN
 1                                                     NaN
 2                                                     NaN
 3                                                     NaN
 4                                                     NaN
 ...                                                   ...
 742248                                                0.0
 742249                                                0.0
 742250                                                NaN
 742251                                                NaN
 742252                                                0.0

         staffed_icu_pediatric_patients_confirmed_covid_7_day_avg  \
 0                                                     NaN
 1                                                     NaN
 2                                                     NaN
 3                                                     NaN
 4                                                     NaN
 ...                                                   ...
 742248                                                0.0
 742249                                                0.0
 742250                                                NaN
 742251                                                NaN
 742252                                                0.0

         staffed_icu_pediatric_patients_confirmed_covid_7_day_coverage  \
 0                                                       0
 1                                                       0
 2                                                       0
 3                                                       0
 4                                                       0
 ...                                                   ...
 742248                                                  7
 742249                                                  7
 742250                                                  0
 742251                                                  0
 742252                                                  7

         staffed_icu_pediatric_patients_confirmed_covid_7_day_sum  \
 0                                                     NaN
 1                                                     NaN
 2                                                     NaN
 3                                                     NaN
 4                                                     NaN
 ...                                                   ...
 742248                                                0.0
 742249                                                0.0
 742250                                                NaN
 742251                                                NaN
 742252                                                0.0

         staffed_pediatric_icu_bed_occupancy_7_day_avg  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 ...                                               ...
 742248                                            0.0
 742249                                            0.0
 742250                                            0.0
 742251                                            NaN
 742252                                            0.0

         staffed_pediatric_icu_bed_occupancy_7_day_coverage  \
 0                                                       0
 1                                                       0
 2                                                       0
 3                                                       0
 4                                                       0
 ...                                                   ...
 742248                                                  7
 742249                                                  7
 742250                                                  7
 742251                                                  0
 742252                                                  7

         staffed_pediatric_icu_bed_occupancy_7_day_sum  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 ...                                               ...
 742248                                            0.0
 742249                                            0.0
 742250                                            0.0
 742251                                            NaN
 742252                                            0.0

         total_staffed_pediatric_icu_beds_7_day_avg  \
 0                                              NaN
 1                                              NaN
 2                                              NaN
 3                                              NaN
 4                                              NaN
 ...                                            ...
 742248                                         0.0
 742249                                         0.0
 742250                                         0.0
 742251                                         NaN
 742252                                         0.0

         total_staffed_pediatric_icu_beds_7_day_coverage  \
 0                                                     0
 1                                                     0
 2                                                     0
 3                                                     0
 4                                                     0
 ...                                                 ...
 742248                                                7
 742249                                                7
 742250                                                7
 742251                                                0
 742252                                                7

         total_staffed_pediatric_icu_beds_7_day_sum
 0                                              NaN
 1                                              NaN
 2                                              NaN
 3                                              NaN
 4                                              NaN
 ...                                            ...
 742248                                         0.0
 742249                                         0.0
 742250                                         0.0
 742251                                         NaN
 742252                                         0.0

 [742253 rows x 128 columns],
 'Seattle_Population_Data':    label  Born in USA  Citizen by Naturalization  Not a Citizen  Born Abroad
 0   2020       583416                      67774          75913        12633
 1   2019       574259                      66041          69978        12607
 2   2018       563960                      64716          66138        12347
 3   2017       550129                      62466          61453        12467
 4   2016       533763                      61170          59552        12343
 5   2015       521002                      60776          57449        11949
 6   2014       509514                      59685          55021        11685
 7   2013       501115                      57989          52507        11290
 8   2012       492994                      57650          49708        10875
 9   2011       485269                      55164          50344        10747,
 'King_County_Mental_Health_and_Substance_Use-Disorder_Providers':                                   Provider         Phone  \
 0                       Crisis Connections  206-461-3222
 1              Therapeutic Health Services  206-546-9766
 2              Catholic Community Services  206-956-9571
 3                 SeaMar Behavioral Health  206-965-1055
 4           Kent Youth and Family Services  253-859-0300
 ..                                     ...           ...
 160                                  IKRON  425-242-1713
 161    Southwest Youth and Family Services  206-937-7680
 162      Downtown Emergency Service Center  206-464-1570
 163  Lutheran Community Services Northwest  253-487-7573
 164                      Triumph Treatment  509-856-0758

                                                Website  \
 0                             https://crisisclinic.org
 1                                  https://ths-wa.org/
 2    http://ccsww.org/get-help/child-youth-family-s...
 3                                http://www.seamar.org
 4                                     http://kyfs.org/
 ..                                                 ...
 160                      http://www.seattle.ikron.org/
 161                             https://www.swyfs.org/
 162                                http://www.desc.org
 163                          https://lcsnw.org/office/
 164                    http://triumphtx.org/Riel-house

                                              Locations  \

In [75]:
spd_crimes = dfs["SPD_Crime_Data__2008-Present"]

In [106]:
aileen = pd.DataFrame([spd_crimes["Crime Against Category"], spd_crimes["Report DateTime"]]).transpose()

In [109]:
aileen["Report DateTime"] = pd.to_datetime(aileen["Report DateTime"])

aileen["Report DateTime"] = [i.year for i in aileen["Report DateTime"]]

aileen = aileen.value_counts().to_frame()

In [112]:
aileen.to_csv("aileen.csv")

In [102]:
aileen.loc["PROPERTY"]

                     0
Report DateTime
2020             60110
2022             57759
2021             55645
2014             54622
2018             53208
2017             52233
2016             52001
2015             51000
2019             50250
2013             48818
2009             48365
2008             46910
2010             45980
2012             43665
2011             43262
2023              6333

In [115]:
spd_crimes

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033410,2013-227022,7682354808,06/26/2013 11:00:00 AM,06/29/2013 06:30:00 AM,06/29/2013 09:43:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,W,Q,Q3,QUEEN ANNE,1ST AVE N / VALLEY ST,-122.355386,47.626251
1033411,2012-045494,7672915592,02/14/2012 03:04:00 PM,NaN,02/14/2012 03:04:00 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,N,U,U1,ROOSEVELT/RAVENNA,73XX BLOCK OF ROOSEVELT WAY NE,-122.317464,47.681894
1033412,2011-061224,41519143023,02/20/2011 08:00:00 PM,02/21/2011 01:55:00 PM,02/21/2011 01:55:00 PM,A,PROPERTY,BURGLARY/BREAKING&ENTERING,Burglary/Breaking & Entering,220,S,S,S3,RAINIER VIEW,100XX BLOCK OF M L KING JR WAY S,-122.278352,47.510453
1033413,2010-328592,7692227482,09/19/2010 04:59:00 PM,NaN,09/19/2010 04:59:00 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,W,M,M3,DOWNTOWN COMMERCIAL,5XX BLOCK OF PIKE ST,-122.335018,47.610909
1033414,2010-064656,7686420892,02/25/2010 06:00:00 PM,02/26/2010 07:30:00 AM,02/26/2010 07:54:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,W,Q,Q2,QUEEN ANNE,26XX BLOCK OF 1ST AVE N,-122.355546,47.643681

In [131]:
maitreyi = pd.DataFrame([spd_crimes["Offense Parent Group"], spd_crimes["Offense"], spd_crimes["Report DateTime"]]).transpose()

In [132]:
maitreyi

,Offense Parent Group,Offense,Report DateTime
0,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,02/05/2020 11:24:31 AM
1,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,02/05/2020 10:06:28 AM
2,ROBBERY,Robbery,02/05/2020 09:39:33 AM
3,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,02/05/2020 03:30:55 AM
4,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,02/05/2020 12:51:31 AM
...,...,...,...
1033410,MOTOR VEHICLE THEFT,Motor Vehicle Theft,06/29/2013 09:43:00 AM
1033411,LARCENY-THEFT,Shoplifting,02/14/2012 03:04:00 PM
1033412,BURGLARY/BREAKING&ENTERING,Burglary/Breaking & Entering,02/21/2011 01:55:00 PM
1033413,LARCENY-THEFT,Shoplifting,09/19/2010 04:59:00 PM
1033414,MOTOR VEHICLE THEFT,Motor Vehicle Theft,02/26/2010 07:54:00 AM

In [134]:
maitreyi.value_counts?

Signature:
maitreyi.value_counts(
    subset: 'Sequence[Hashable] | None' = None,
    normalize: 'bool' = False,
    sort: 'bool' = True,
    ascending: 'bool' = False,
    dropna: 'bool' = True,
) -> 'Series'
Docstring:
Return a Series containing counts of unique rows in the DataFrame.

.. versionadded:: 1.1.0

Parameters
----------
subset : list-like, optional
    Columns to use when counting unique combinations.
normalize : bool, default False
    Return proportions rather than frequencies.
sort : bool, default True
    Sort by frequencies.
ascending : bool, default False
    Sort in ascending order.
dropna : bool, default True
    Don’t include counts of rows that contain NA values.

    .. versionadded:: 1.3.0

Returns
-------
Series

See Also
--------
Series.value_counts: Equivalent method on Series.

Notes
-----
The returned Series will have a MultiIndex with one level per input
column. By default, rows that contain any NA values are omitted from
the result. By default, the resulting Series will be in descending
order so that the first element is the most frequently-occurring row.

Examples
--------
>>> df = pd.DataFrame({'num_legs': [2, 4, 4, 6],
...                    'num_wings': [2, 0, 0, 0]},
...                   index=['falcon', 'dog', 'cat', 'ant'])
>>> df
        num_legs  num_wings
falcon         2          2
dog            4          0
cat            4          0
ant            6          0

>>> df.value_counts()
num_legs  num_wings
4         0            2
2         2            1
6         0            1
dtype: int64

>>> df.value_counts(sort=False)
num_legs  num_wings
2         2            1
4         0            2
6         0            1
dtype: int64

>>> df.value_counts(ascending=True)
num_legs  num_wings
2         2            1
6         0            1
4         0            2
dtype: int64

>>> df.value_counts(normalize=True)
num_legs  num_wings
4         0            0.50
2         2            0.25
6         0            0.25
dtype: float64

With `dropna` set to `False` we can also count rows with NA values.

>>> df = pd.DataFrame({'first_name': ['John', 'Anne', 'John', 'Beth'],
...                    'middle_name': ['Smith', pd.NA, pd.NA, 'Louise']})
>>> df
  first_name middle_name
0       John       Smith
1       Anne        <NA>
2       John        <NA>
3       Beth      Louise

>>> df.value_counts()
first_name  middle_name
Beth        Louise         1
John        Smith          1
dtype: int64

>>> df.value_counts(dropna=False)
first_name  middle_name
Anne        NaN            1
Beth        Louise         1
John        Smith          1
            NaN            1
dtype: int64
File:      ~/Library/Python/3.9/lib/python/site-packages/pandas/core/frame.py
Type:      method

In [133]:
maitreyi["Report DateTime"] = pd.to_datetime(maitreyi["Report DateTime"])

maitreyi["Report DateTime"] = [i.year for i in maitreyi["Report DateTime"]]

maitreyi = maitreyi.value_counts("year").to_frame()

KeyError: 'year'

In [130]:
maitreyi

                                                                                     0
Offense Parent Group     Offense                                Report DateTime
LARCENY-THEFT            Theft From Motor Vehicle               2014             13874
                                                                2016             13199
                                                                2015             12678
                                                                2009             12643
                                                                2017             12529
...                                                                                ...
SEX OFFENSES, CONSENSUAL Incest                                 2008                 1
                                                                2021                 1
                                                                2022                 1
FRAUD OFFENSES           Welfare Fraud                          2017                 1
HUMAN TRAFFICKING        Human Trafficking, Commercial Sex Acts 2017                 1

[807 rows x 1 columns]